.pull-quote {
    display: flex;
    justify-content: space-between;

    .pull-aspect-ratio-box {
        width: 65.625%;
        height: auto;
    }

    .pull-aspect-ratio-box:before {
        content: '';
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        overflow: hidden;
        padding-top: 591.44px / 1127.34px * 100%;
    }

    .pull-aspect-ratio-box::after {
        content: '';
        display: table;
        clear: both;
    }

    img.pull-img {
        width: 100%;
        height: auto;
    }

    .pull-quote-copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 34.375%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 30px;

        p {
            margin-top: 0;
        }
    }

    &.quote-img-left {
        .pull-quote-copy {
            // padding-right: 50px;
        }
    }

    &.quote-img-right {
        flex-direction: row-reverse;
    }
}