// TopNav.scss

@import "../../../styles/breakpoints";

nav.top-nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 3;
  border-bottom: 1px solid #00a1ff;
  background: #001225;

  * {
    // z-index: 2;
  }

  div {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    // border: 1px solid green;
  }

  div.cta-nav {
    width: auto;
  }

  .top-nav-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .top-nav-right {
    justify-content: flex-end;
    margin-right: 30px;
    width: 0;
  }

  @include bp(vert11) {
    .top-nav-left {
      margin-left: 20px;
    }

    .top-nav-right {
      margin-right: 20px;
    }
  }

  h2 {
    float: left;
    margin: 0;
    margin-top: -3px; // Temp placeholder styling
    color: #00a1ff;
    font-family: dead-history, sans-serif;
    font-family: changeling-neo-stencil, sans-serif;
    font-weight: 700;

    @include bp(vert11) {
      // padding-left: 0;
    }
  }

  a {
    margin: 0;
    font-family: industry, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #bfbfbf;
    text-transform: uppercase;
    text-decoration: none;
    border: none;

    &:hover {
      color: white;
    }

    @include bp(vert11) {
      font-size: 14px;
    }

  }

  a h2 {
    text-transform: none;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding-left: 10px;

    li.active a {
      color: white;
    }

    @include bp(vert11) {
      padding-left: 0;
    }
  }

  li::marker {
      display: none;
      content: '';
  }

  .menu-item {
    float: left;
    // height: 100%;
    padding-left: 30px;
    line-height: 1;

    @include bp(vert11) {
      padding-left: 15px;
    }
  }

  button {
    width: 90px;
    width: 130px;
    min-width: 110px;
    height: 35px;
    margin: 0 0 0 20px;
    border: 1px solid #00a1ff;
    background-color: #00a1ff;

    &:hover {
      color: #00a1ff;
      color: white;
      background: #001225;
    }

    @include bp(vert11) {
      width: 105px;
      min-width: 105px;
      padding: 0;
    }
  }

  button a {
    justify-content: center;
    font-size: 14px;
    color: white !important;
  }
}
