@import '../../../styles/breakpoints';

.event-info {
  clear: both;
  overflow: hidden;
  display: block;
  width: calc(66% - 30px);
  margin-left: 30px;

  .event-logo {
    width: 45%;
    margin-bottom: 20px;
  }

  .event-name {
    // font-family: din-2014, sans-serif;
    // font-style: normal;
    // font-weight: 600;
    // font-size: 38px;
    line-height: 1;
    text-align: left;
    color: #ffffff;
    word-wrap:break-word;
    white-space: normal;
  }

  .cta-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    button {
      width: 100%;
      margin-right: 0;
    }
  }

  button.transp-bg:hover {
    color: #001225;
    background-color: white;
  }

  @include bp(land13) {
    .event-logo {
      width: 60%;
      margin-bottom: 20px;
    }

    .event-name {
      margin: 10px 0;
      // font-size: 28px;
    }
  }
}
