// Neoneon.scss

@import "../../styles/breakpoints";

.bassline {
  padding-bottom: 100px;

  .homepage-hero {
    margin-bottom: 50px;
  }

  .event-info {
    bottom: 31%;
  }

  .event-hero {
    .home-hero-content {
      bottom: 25%;
      left: 0;

      @include bp(land13) {
        width: 66%;
      }

      @include bp(vert11) {
        width: 66%;
      }
    }

    @include bp(land13) {
      margin-bottom: 80px;
    }

    @include bp(vert11) {
      margin-bottom: 80px;
    }
  }

  .bassline-body {
    position: absolute;
    top: 98vh;
    z-index: 1;

  }

  .pull-quote {
    margin-bottom: 100px;
  }

  section.body-copy {
    overflow: hidden;
    width: 65%;
    width: 48%;
    margin-bottom: 100px;
    margin-left: 10%;
  }

  .full-width-img {
    margin-bottom: 100px;
  }

  button {
    min-width: 170px;
  }

  nav.related-nav,
  .related-content {
    position: relative;
    top: auto;
  }

  .related-content {
    button {
      min-width: 125px;
    }
  }
}
