.pacific707 {
    overflow: hidden;
    margin: 0 30px;
    padding-top: 75px;
    padding-bottom: 80px;

    img {
        width: 100%;
    }

    .pacific-left {
        float: left;
        width: calc(60% - 30px);
        // border: 1px solid tomato;

        .related-content {
            margin-top: 60px;
        }

        .related-grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .one-related-item {
                width: calc(50% - 15px);
                margin-bottom: 100px;
            }
        }
    }

    .pacific-right {
        float: right;
        width: calc(40% - 30px);
        width: 40%;
        // border: 1px solid deepskyblue;
    }

    .event-info {
        width: calc(100% - 30px);
        width: 100%;
        margin: 0;
    }
}