@import url("https://use.typekit.net/guw0xro.css");
@import "breakpoints";

body {
  background: #001225;
}

.App {
  //   font-family: dead-history, sans-serif;
  //   font-weight: 700;
  //   font-weight: 400;

  font-family: din-2014, sans-serif;
  //   font-weight: 200;
  //   font-weight: 300;
  //   font-weight: 400;
  //   font-style: italic;    //   font-weight: 400;
  //   font-weight: 600;
  //   font-weight: 700;

  // Changeling Neo Regular
  font-family: changeling-neo, sans-serif;
  font-weight: 400;
  font-style: normal;

  // Changeling Neo Bold
  font-family: changeling-neo, sans-serif;
  font-weight: 700;
  font-style: normal;

  // Changeling Neo Inline
  font-family: changeling-neo-inline, sans-serif;
  font-weight: 700;
  font-style: normal;

  // Changeling Neo Stencil
  font-family: changeling-neo-stencil, sans-serif;
  font-weight: 700;
  font-style: normal;
  background: #001225;

  // Industry Light
  font-family: industry, sans-serif;
  font-weight: 300;
  font-style: normal;

  // Industry Book
  font-family: industry, sans-serif;
  font-weight: 400;
  font-style: normal;

  // Industry Medium
  font-family: industry, sans-serif;
  font-weight: 500;
  font-style: normal;

  // Industry Bold
  font-family: industry, sans-serif;
  font-weight: 700;
  font-style: normal;

  // Industry Black
  font-family: industry, sans-serif;
  font-weight: 800;
  font-style: normal;

  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      // color: black;
    }
  }

  img {
    display: block;
  }

  h1 {
    margin-bottom: 0;
    font-family: changeling-neo-inline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    text-align: left;
    color: #ffffff;
  }

  h2 {
    font-family: industry, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
    color: #ffffff;

    @include bp(vert11) {
      font-size: 22px;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    text-align: left;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-align: left;
  }

  h5 {
    font-family: industry, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    text-align: left;
    color: #ffffff;
  }

  p {
    font-family: industry, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    line-height: 1.4;
    text-align: left;
    color: #ffffff;
  }

  .full-width-img {
    width: 100%;
    height: auto;
  }

  button {
    min-width: 130px;
    height: 35px;
    // font-family: changeling-neo, sans-serif;
    // font-weight: 400;
    font-family: industry, sans-serif;
    font-weight: 700;
    font-weight: 800;
    font-style: normal;
    line-height: 1;

    &:hover {
      color: #001225;
      background-color: white;
      cursor: pointer;

      a {
        color: #001225;
      }
    }

    &.slick-next:hover,
    &.slick-prev:hover {
      background-color: transparent;
    }
  }

  nav.related-nav {
    margin-bottom: 20px;
    li {
      font-family: industry, sans-serif;
      font-style: normal;
      font-weight: 800;
    }
  }

  .cta-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //   @import "buttons";
  @import "breakpoints";
  @import "forms";
}
