.countdown-comp {
    .count-container  {
        color: white;
    }

    h3 {
        text-transform: uppercase;
    }

    button {
        background-color: transparent;

        &:hover  {
            color: #0056b1;
            background-color: white;
        }
    }
}