// TropicalFreeze.scss

@import "../../styles/breakpoints";

.halloween {
  position: relative;
  min-height: 100vh;
  // padding-bottom: 50px;

  .gradient-hero {
    overflow: hidden;

    .gradient {
    //   background-color: #0f2d52;
      background: rgba(15, 45, 82, 0.9);
    }
  }

  .hero-image {
    visibility: hidden;
  }

  video {
    position: absolute;
    top: 0;
    right: 0;

    &.spooky-flyer {
      z-index: 2;
      top: 10%;
      right: 11%;
      width: 600px;
      height: 600px;
    }
  }

  .event-info {
    bottom: 31%;

    @include bp(land13) {
      bottom: 15%;
      width: 66%;
    }

    @include bp(vert11) {
      width: 66%;
    }

    @include bp(sm) {
      position: relative;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 20px 20px 0;
    }
  }

  .event-body {
    p:nth-child(3),
    p:nth-child(4) {
      display: none;
    }
  }

  .related-content {
    position: relative;
    top: calc(100vh - 150px);
    top: 0;
    background: #001226;
    position: absolute;
    top: calc(100vh - 180px);

    .related-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include bp(oriPort) {
      position: relative;
      top: auto;
    }

    @include bp(oriLand) {
      // width: 66%;
    }
  }
}
