// TropicalFreeze.scss

@import "../../styles/breakpoints";

.halloween {
  position: relative;
  min-height: 100vh;
  // padding-bottom: 50px;

  * {
    box-sizing: border-box;
  }

  .gradient-hero {
    overflow: hidden;

    .gradient {
      //   background-color: #0f2d52;
      background: rgba(15, 45, 82, 0.9);
    }
  }

  .hero-image {
    visibility: hidden;
    height: calc(100vh - 165px);
  }

  video {
    position: absolute;
    top: 0;
    right: 0;

    &.spooky-flyer {
      z-index: 2;
      top: 10%;
      right: 6%;
      width: 600px;
      height: 600px;
    }
  }

  @include bp(sm) {
    .hero-image {
      display: none;
    }

    video.spooky-flyer {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
    }
  }

  @include bp(land13) {
    .gradient-hero {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px;
    }

    .hero-image {
      display: none;
    }

    video.spooky-flyer {
      position: relative;
      top: auto;
      right: auto;
    }
  }

  @include bp(vert11) {
    .gradient-hero {
      padding: 100px;
    }

    video.spooky-flyer {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
      max-width: 600px;
    }
  }

  @include bp(sm) {
    .gradient-hero {
      padding: 0;
    }
  }

  .event-info {
    z-index: 3;
    position: absolute;
    bottom: 30.5%;
    bottom: auto;
    top: 280px;
    width: 45%;

    @include bp(land13) {
      position: relative;
      top: auto;
      bottom: 15%;
      width: 90%;
      margin: 0;
      padding: 40px 30px 90px;
    }

    @include bp(vert11) {
      width: 100%;
      margin: 0;
      padding: 30px;
    }

    @include bp(sm) {
      position: relative;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 20px 20px 0;
    }
  }

  .event-body {
    p:nth-child(3),
    p:nth-child(4) {
      display: none;
    }
  }

  .related-content {
      position: relative;
      top: auto;
      margin: 0;
  }

  .related-grid {
    display: flex;
  }
}
