// Button.scss

button {
  float: left;
  display: block;
  width: auto;
  min-width: 120px;
  height: 40px;
  margin: 10px 20px 0 0;
  padding: 0 25px;
  background-color: black;
  border: 1px solid white;
  transition: all 0.4s;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
.product-body {
  button {
    display: block;
  }
}

button.transp-bg {
  color: white;
  background-color: transparent;
  transition: all 0.4s;

  &.enter-space {
    color: #001225;
    background: white;

    &:hover {
      color: white;
      background-color: transparent;
    }
  }
}

button.transp-bg:hover {
  color: #001225;
  background-color: white;
}
