.one-related-item {
  width: 100%;

  img {
    width: 100%;
  }

  h3 {
    margin: 10px 0 5px;
  }

  h5 {
    margin: 0 0 3px;
  }

  button.transp-bg {
    width: 125px;
    height: 35px;
    font-size: 12px;
    &:hover {
        color: #001225;
        background-color: white;
    }
  }
}
