// Saturn6.scss

@import "../../styles/breakpoints";

.saturn6.single {
  padding-bottom: 100px;

  .home-hero-img {
    width: 100%;
  }

  .home-hero-content {
    bottom: 8%;
    margin-left: 10.2083%;
    margin-left: calc(10.2083% - 30px);
  }

  .gradient {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      #001225 30%,
      rgba(0, 0, 0, 0) 61%,
      rgba(0, 0, 0, 0) 55%
    );
  }

  .event-hero {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 30px;
    margin-top: 0;
  }

  .carousel-hero {
    position: relative;
    z-index: 2;
  }

  .copy-top {
    z-index: 1;
    position: relative;
    width: 39.0972%;
    // width: 66%;
    margin: 360px 0 170px calc(10.2083% - 30px);

    @include bp(land13) {
      width: 66%;
    }

    @include bp(vert11) {
      width: 66%;
    }

    .count-container {
      color: #00a1ff;
      font-size: 30px;
      text-transform: uppercase;
      text-align: left;
    }

    #countdown {
      display: inline;
    }

    button {
      width: 280px;
    }
  }

  button {
    background-color: transparent;
  }

  .image-carousel {
    overflow: hidden;
    position: relative;
    width: 79.5833%;
    // width: calc(100% - 200px);
    margin: 0 auto 170px;
    padding-top: 38%;
    padding-bottom: 10px;
    // border: 1px solid deepskyblue
  }

  .inner-carousel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slick-list {
    margin: 0 -60px;
    // margin: 0;
    overflow: visible;
  }

  .slick-slide {
    z-index: 1;
    position: relative;
    transform: scale(1);
    transition: transform 0.4s;
  }

  .slick-center {
    z-index: 2;
    position: relative;
    transform: scale(2.44);
    transition: transform 0.4s;
  }

  .slick-dots {
    bottom: -200px;
  }

  .slick-dots li button:before {
    color: lightgray;
  }

  .slick-dots li.slick-active button:before {
    color: white;
  }

  .slick-prev,
  .slick-next {
    height: 60px;
    margin: 0;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: din-2014, sans-serif;
    font-size: 60px;
    color: white;
    color: #00a1ff;
    mix-blend-mode: exclusion;
  }

  .slick-prev:before {
    content: "⟨";
  }

  .slick-next:before {
    content: "⟩";
  }

  .copy-body {
    overflow: hidden;
    // width: 79.5833%;
    width: 63.4722%;
    margin: 0 auto 170px;

    button {
      &:hover {
        color: #001225;
        background-color: white;
      }
    }
  }

  .home-flyer {
    width: 100%;
    max-width: 1024px;
    margin: 0 0 170px calc(10.2083%);
    margin: 0 auto 170px;
    padding: 0 30px;
  }

  .related-content {
    position: relative;
    top: 0;
  }

  .related-grid {
    margin-bottom: 0;
  }

  .cta-container {
    a {
      display: inline;

      &.hide-me {
        display: none;
      }
    }

    button {
      width: 190px;
    }

    .count-container {
      display: block;
    
      &.hide-me {
        display: none;
      }
    }
  }
}
