.anima {
    padding-bottom: 100px;

    .homepage-hero {
        margin-bottom: 50px;
    }

    .home-hero-ctas {
        // display: none;
    }

    .pull-quote {
        margin-bottom: 100px;
    }

    section.body-copy {
        overflow: hidden;
        width: 71.5%;
        margin-bottom: 100px;
        margin-left: 10%;
    }

    .full-width-img {
        margin-bottom: 100px;
    }

    button {
        min-width: 170px;
    }

    .related-content {
        button {
            min-width: 125px;
        }
    }
}