@import '../../../styles/breakpoints';

.gradient-hero {
  position: relative;

  .hero-image {
      width: 100%;
      // transform: scaleX(-1);
  }

  .event-info {
    z-index: 2;
    position: absolute;
    bottom: 20%;
    width: 40%;

    @include bp(land13) {
      bottom: 7%;
      width: 46%;
    }

    @include bp(vert11) {
      bottom: 7%;
      width: 52%;

      p:nth-child(1):after {
        content: 'read more';
        margin-left: 20px;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 1px solid white;
      }

      p:nth-child(2) {
        display: none;
      }

      .event-name {
        font-size: 22px;
      }

      button {
        width: 125px;
        height: 35px;
      }
    }
  }

  .gradient {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) -12.5%,
      #287a73 70.28%
    );
  }
}
