.equiva {
  .homepage-hero {
    position: relative;
    background: rgb(0, 18, 37);

    .gradient {
      z-index: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 18, 37, 1) 0%,
        rgba(158, 162, 236, 0) 55%
      );
    }
  }

  .copy-top {
    width: 39.0972%;
    margin: 120px 0 170px 10.2083%;
  }

  .image-carousel {
    overflow: hidden;
    position: relative;
    width: 79.5833%;
    margin: 0 auto 170px;
    padding-top: 40%;
    // border: 1px solid deepskyblue
  }

  .inner-carousel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slick-list {
    margin: 0 -60px;
    overflow: visible;
  }

  .slick-slide {
    z-index: 1;
    position: relative;
    transform: scale(1);
    transition: transform 0.4s;
  }

  .slick-center {
    z-index: 2;
    position: relative;
    transform: scale(2.5);
    transition: transform 0.4s;
  }

  .slick-dots {
    bottom: -255px;
  }

  .slick-dots li button:before {
    color: lightgray;
  }

  .slick-dots li.slick-active button:before {
    color: white;
  }

  .slick-prev,
  .slick-next {
    height: 60px;
    margin: 0;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: din-2014, sans-serif;
    font-size: 60px;
    color: #001225;
  }

  .slick-prev:before {
    content: "⟨";
  }

  .slick-next:before {
    content: "⟩";
  }

  .copy-body {
    overflow: hidden;
    width: 79.5833%;
    width: 63.4722%;
    margin: 0 auto 170px;

    .ctas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    button {
        min-width: none;
        margin: 50px 0 0;
        &:hover {
            color: #001225;
            background-color: white;
        }
    }
  }
}
