// SignUp.scss

@import "../../styles/breakpoints";

.signUp {
  // @import "//cdn-images.mailchimp.com/embedcode/slim-10_7.css";

  padding-bottom: 100px;

  #mc_embed_signup {
      padding-top: 40px;
  }

  #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;

    input {
        height: 35px;
        padding-left: 10px;
        color: white;
        border: 1px solid white;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    input::placeholder {
      padding-left: 10px;
      color: white;
    }
  }

  .home-hero-subheadline {
    width: 69%;
  }

  input {
    width: 260px;
    height: 30px;
  }

  .email {
    display: block;
  }

  .absStyle {
    display: block;
  }

  .absStyle > input {
    display: none;
    clear: both;
    z-index: -1;
  }

  .submitStyle {
    margin-top: 20px;

    input {
      width: 130px;
      height: 35px;
      padding-left: 0 !important;
      font-family: industry, sans-serif;
      color: white;
      font-weight: 700;
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      line-height: 1;
      background-color: transparent;
      border: 1px solid white;
    }
  }

  .home-hero-content {
    position: relative;
  }

  .homepage-hero {
    margin-bottom: 50px;
  }

  .pull-quote {
    margin-bottom: 100px;
  }

  section.body-copy {
    overflow: hidden;
    // position: absolute;
    width: 71.5%;
    height: 600px;
    margin-bottom: 100px;
    margin-left: 10%;
    padding-top: 20vh;
  }

  .full-width-img {
    margin-bottom: 100px;
  }

  button {
    min-width: 170px;
  }

  .related-content {
    max-width: none;
    top: calc(100vh - 150px);

    .related-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

    button {
      min-width: 125px;
    }

    @include bp(land13) {
      position: relative;
      top: auto;
    }
  
    @include bp(vert11) {
      position: relative;
      top: auto;
    }
  }
}
