// TropicalFreeze.scss

@import '../../styles/breakpoints';

.tropical-freeze {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;

  .gradient-hero {
    overflow: hidden;
  }

  .event-info {
    bottom: 31%;
    
    @include bp(land13) {
      width: 66%;
    }

    @include bp(vert11) {
      width: 66%;
    }
  }

  .event-body {
    p:nth-child(3),
    p:nth-child(4) {
      display: none;
    }
  }

  .related-content {
    position: relative;
    top: calc(100vh - 150px);
    top: 0;
    background: #001226;

    position: absolute;
    top: calc(100vh - 180px);
  }
}
