// Events.scss

@import "../../styles/breakpoints";

.all-events {
  padding-bottom: 100px;

  h1 {
    margin: 0;
  }

  .events-hero {
    position: relative;
  }

  .events-hero-img {
    width: 100%;

    &.mobile-img {
      display: none;
    }
  }

  .events-hero-content {
    position: absolute;
    bottom: 1vw;
    left: 30px;
    width: 42%;
  }

  .all-events-main {
    position: relative;
    // height: 100vh;
    padding: 100px 30px 0 30px;
    background-color: rgba(0, 18, 37, 0.9);
  }

  .events-tiles {
    position: relative;
    display: block;
    justify-content: space-between;
  }

  .one-event-tile {
    display: grid;
    grid-template-columns: 71.77% 1fr;
    position: relative;
    width: 100%;
    // margin-bottom: 400px;
    margin-bottom: 21vw;

    img {
      width: 100%;
    }

    &:nth-child(even) {
      direction: rtl;

      .one-tile-copy {
        padding-left: 0;
      }
    }

    &:last-child {
      margin-bottom: 100px;
    }
  }

  .one-tile-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 60px;

    .tile-copy-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      // border: 1px solid tomato;
    }

    a {
      border: 0;
    }

    h2 {
      display: inline-flex;
      margin: 0;
      font-family: changeling-neo, sans-serif;
      font-size: 60px;
      font-size: 2.8vw;
      font-weight: 400;
      font-style: normal;
      line-height: 65px;
      line-height: 3vw;
      text-align: left;
      // border: 1px solid tomato;
    }

    h3 {
      margin: 20px 0 27px;
      font-size: 1.25vw;
      line-height: 31px;
    }

    h5 {
      display: inline;
      margin: 0 0 15px;
    }

    p {
      margin: 10px 0 20px;
    }

    a {
      position: static;
      bottom: 20px;
      margin: 0;
    }

    button {
      margin: 0;
    }
  }

  @include bp(land13) {
    .events-hero-content {
      bottom: 0;
      width: 75%;
    }

    .one-tile-copy {
      padding-left: 30px;

      .tile-copy-inner {
        // border: 1px solid tomato;

        h2 {
          font-size: 37px;
          line-height: 1;
        }

        h3 {
          margin: 10px 0 20px 0;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.3;
        }

        h5 {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 1;
        }
      }
    }
  }

  @include bp(md) {
    .events-hero-img.mobile-img {
      display: none;
    }

    .all-events-main {
      padding: 70px 0 0 0;
    }

    .events-tiles {
      gap: 30px;
    }

    .one-event-tile {
      grid-template-columns: 66% 1fr;

      &:nth-child(even) {
        .one-tile-copy {
          align-items: flex-start;
          padding-right: 20px;
        }
      }
    }

    .one-tile-copy {
      .tile-copy-inner {
        width: 85%;
        // border: 1px solid tomato;
      }
    }
  }

  @include bp(sm) {
    .events-hero-img {
      display: none;

      &.mobile-img {
        display: block;
      }
    }

    .events-hero-content {
      position: relative;
      left: 0;
      width: 100%;
      padding: 30px 20px 0;
    }

    .all-events-main {
      padding: 80px 0 0;

      h1 {
        font-size: 35px;
      }
    }

    .events-info-content {
      width: 100%;
      padding-bottom: 30px;
    }

    .events-tiles {
      gap: 30px;
      grid-template-columns: 1fr;
    }

    .one-event-tile {
      display: flex;
      flex-direction: column;
      margin-bottom: 90px;

      &:nth-child(even) {
        direction: ltr;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .one-tile-copy {
      width: 100%;
      padding-top: 20px;
      // border: 1px solid tomato;

      .tile-copy-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0 20px;
        // border: 1px solid yellow;

        h2 {
          font-size: 30px;
          line-height: 1;
        }
      }
    }
  }

  .related-content {
    display: none;
  }
}
