// RelatedItems.scss

@import "../../../styles/breakpoints";

.related-content {
  position: absolute;
  // position: relative;
  top: auto;
  top: calc(100vh - 180px);
  margin: 20px 0 0;
  top: auto;

  // @include bp(land13) {
  //   position: relative;
  //   top: auto;
  // }

  @include bp(oriPort) {
    position: relative;
    top: auto;
  }
}

nav.related-nav {
  top: 0;
  width: 100%;
  padding-left: 30px;
  border-bottom: 1px solid #676767;
  z-index: 1;

  @include bp(land13) {
    position: relative;
    top: auto;
  }

  @include bp(vert11) {
    position: relative;
    top: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    margin: 10px 0 0;
    padding: 25px 20px 22px;
    font-family: din-2014, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #bfbfbf;
    text-transform: uppercase;
    text-decoration: none;

    &.active-item {
      color: white;
      border-bottom: 3px solid #00c1b2;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.related-content {
  z-index: 3;
  position: absolute;
  top: calc(100vh - 20px);
  padding: 0px;

  &.rel-three-tiles {
    .related-grid {
      display: flex;
      margin: 70px 15px 0;

      .one-related-item {
        flex: 1;
        width: 33%;
        margin-bottom: 70px;
        padding: 0 10px;
      }
    }
  }

  @include bp(land13) {
    position: relative;
    top: auto;
  }

  @include bp(vert11) {
    position: relative;
    top: auto;
  }
}

.related-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 70px 30px 60px;

  .one-related-item {
    width: 100%;
    margin-bottom: 0px;
  
    a {
      border: 0;
    }
  
    img {
      width: 100%;
    }
  
    h3 {
      margin: 10px 0 5px;
    }
  
    .related-copy {
      h4 {
        margin: 3px 0;
        text-align: left;
      }
    }
  }

  button {
    &:hover {
      color: #001225;
      // color: white;
      background-color: white !important;
      cursor: pointer;

      a {
        color: #001225;
      }
    }

    &.slick-next:hover,
    &.slick-prev:hover {
      background-color: transparent;
    }
  }
}
