// RelatedItems.scss

@import "../../../styles/breakpoints";

.related-content {
  position: absolute;
  position: relative;
  // top: calc(100vh - 20px);
  top: auto;
  margin: 20px 0 0;
  // background: #001226;
  top: auto;
}

nav.related-nav {
  top: 0;
  width: 100%;
  padding-left: 30px;
  border-bottom: 1px solid #676767;
  z-index: 1;

  @include bp(land13) {
    position: relative;
    top: auto;
  }

  @include bp(vert11) {
    position: relative;
    top: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    margin: 10px 0 0;
    padding: 25px 20px 22px;
    font-family: din-2014, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #bfbfbf;
    text-transform: uppercase;
    text-decoration: none;

    &.active-item {
      color: white;
      border-bottom: 3px solid #00C1B2;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.related-content {
  z-index: 3;
  position: absolute;
  top: calc(100vh - 20px);
  // max-width: 1280px;
  padding: 0px;

  @include bp(land13) {
    position: relative;
    top: auto;
  }

  @include bp(vert11) {
    position: relative;
    top: auto;
  }
}

.related-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0  30px 60px;
  
  button {
    &:hover {
      color: #001225;
      background-color: white;
      cursor: pointer;

      a {
        color: #001225;
      }
    }

    &.slick-next:hover,
    &.slick-prev:hover {
      background-color: transparent;
    }
  }
}

.one-related-item {
    margin-bottom: 50px;
}
