@import "../../styles/breakpoints";

.homepage {
  // padding-bottom: 50px;

  .homepage-hero {
    h1 {
      font-family: changeling-neo-stencil, sans-serif;
      color: #00a1ff;
    }
  }

  .related-content {
    top: calc(100vh - 120px);

    @include bp(land13) {
      position: relative;
      top: auto;
    }
  
    @include bp(vert11) {
      position: relative;
      top: auto;
    }

    @include bp(oriPort) {
      top: auto;
    }
  }

  @include bp(xs) {
   .homepage-hero {
     .home-hero-content {
       padding-top: 40px;
     }
   } 
  }
}
