@import "../../styles/breakpoints";

.homepage {
  padding-bottom: 50px;

  .homepage-hero {
    h1 {
      font-family: changeling-neo-stencil, sans-serif;
      color: #00a1ff;
    }
  }

  .related-content {
    top: calc(100vh - 120px);

    @include bp(land13) {
      position: relative;
      top: auto;
    }
  
    @include bp(vert11) {
      position: relative;
      top: auto;
    }
  }

  .related-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    display: flex;
  }
}
