@import "../../styles/breakpoints";

.homepage {
  padding-bottom: 50px;

  .homepage-hero {
    h1 {
      font-family: changeling-neo-stencil, sans-serif;
      color: #00a1ff;
    }
  }

  .related-content {
    max-width: none;
  }

  .related-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    display: flex;
  }
}
